section.hero {
  height: 100vh;
  background-image: url(../image/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  position: relative;
}

section.hero::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  left: 0;
  top: 0;
}

section.hero .hero__inner {
  padding: 1.5rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  position: relative;
  z-index: 1;
}

section.hero .hero__inner h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

section.hero .hero__inner h1 span {
  color: #bc202f;
}

@media only screen and (max-width: 768px) {
  section.hero .hero__inner h1 {
    font-size: 3.4rem;
  }
}

section.hero .hero__inner p {
  font-size: 1.5rem;
  padding-bottom: 4rem;
  text-align: center;
}

section.hero .booking {
  width: 100%;
  bottom: 0;
  left: 0;
  height: auto;
  padding: 2.5rem;
  background-color: #5a5950e3;
  z-index: 2;
}

section.hero .booking form {
  max-width: 83rem;
  padding: 0px 1.5rem;
  margin: 0 auto;
  color: #fff;
}

section.hero .booking form .form-group {
  margin-bottom: 0px;
}

section.hero .booking form .form-group h3 {
  font-size: 2.2rem;
  white-space: nowrap;
}

section.hero .booking form .form-group label {
  display: block;
  font-size: 15px;
}

section.hero .booking form .form-group .form-control {
  height: 3.6rem;
  border-radius: 0px;
  border: 0;
  outline: 0;
  background-color: #fff;
  color: #b3b3b3;
  font-size: 1.5rem;
}

section.hero .booking form .form-group button[type="submit"] {
  width: 100%;
  background-color: #bc202f;
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  height: 3.6rem;
  border: 1px solid #bc202f;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

section.hero .booking form .form-group button[type="submit"]:hover {
  background-color: #fff;
  color: #bc202f;
  border-color: #bc202f;
}

section.services {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.services .wrap__services {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% / 2);
}

@media only screen and (max-width: 1024px) {
  section.services .wrap__services {
    width: 100%;
  }
  section.services .wrap__services:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  section.services .wrap__services:nth-child(3) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media only screen and (max-width: 600px) {
  section.services .wrap__services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  section.services .wrap__services:nth-child(3) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 600px) {
  section.services .wrap__services:nth-child(4) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

section.services .wrap__services .service__item {
  width: calc(100% / 2);
  height: 40rem;
  -webkit-transform: 0.2s;
          transform: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.services .wrap__services .service__item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: 0.2s;
          transform: 0.2s;
}

@media only screen and (max-width: 1700px) {
  section.services .wrap__services .service__item {
    height: 32rem;
  }
}

@media only screen and (max-width: 1400px) {
  section.services .wrap__services .service__item {
    height: 22rem;
  }
}

@media only screen and (max-width: 1024px) {
  section.services .wrap__services .service__item {
    height: auto;
    min-height: 12rem;
  }
}

@media only screen and (max-width: 600px) {
  section.services .wrap__services .service__item {
    width: 100%;
    height: 22rem;
  }
}

section.services .wrap__services .service__text {
  padding: 1rem;
  background-color: #ece6da;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
}

section.services .wrap__services .service__text::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0%;
  background-color: #bc202f;
  left: 0;
  bottom: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 1;
}

section.services .wrap__services .service__text .wrap__text-inner {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.services .wrap__services .service__text h4 {
  font-size: 3.2rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

@media only screen and (max-width: 1400px) {
  section.services .wrap__services .service__text h4 {
    font-size: 2.4rem;
  }
}

section.services .wrap__services .service__text p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1400px) {
  section.services .wrap__services .service__text p {
    font-size: 1.4rem;
  }
}

section.services .wrap__services .service__text a {
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border: 1px solid #fff;
  display: none;
  -webkit-transition: 0s;
  transition: 0s;
}

@media only screen and (max-width: 1400px) {
  section.services .wrap__services .service__text a {
    font-size: 1.5rem;
  }
}

section.services .wrap__services .service__text:hover {
  color: #fff;
}

section.services .wrap__services .service__text:hover::after {
  height: 100%;
}

section.services .wrap__services .service__text:hover a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.concept {
  background-image: url(../image/bg02.jpg);
  height: 100vh;
  min-height: 70rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section.concept .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

section.concept .concept__inner {
  background-color: #bc202f;
  max-width: 46rem;
  padding: 15.5rem 6.7rem;
  color: #fff;
  text-align: center;
  position: relative;
}

section.concept .concept__inner::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 35%;
  bottom: 0;
  left: 0;
  background-image: url(../image/bg01.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

section.concept .concept__inner h4 {
  font-size: 3.2rem;
}

@media only screen and (max-width: 1600px) {
  section.concept .concept__inner h4 {
    font-size: 2.6rem;
  }
}

section.concept .concept__inner hr {
  width: 7rem;
  margin: 1.8rem auto;
  background-color: #fff;
  border: none;
  display: block;
  height: 1.5px;
}

section.concept .concept__inner span {
  font-size: 2rem;
}

@media only screen and (max-width: 1600px) {
  section.concept .concept__inner {
    max-width: 40rem;
    padding: 10rem 4rem;
  }
}

section.concept .concept__inner p {
  text-align: left;
  font-size: 1.5rem;
  margin-top: 1.8rem;
  margin-bottom: 4.8rem;
}

section.concept .concept__inner a {
  display: inline-block;
  margin: 0 auto;
  font-size: 1.6rem;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 6px 2.7rem;
  position: relative;
  z-index: 2;
}

section.stay {
  padding: 7rem 0px;
  background-image: url(../image/bg03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section.stay .stay__box--ct {
  background-color: #bc202f;
  position: relative;
  height: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.stay .stay__box--ct::before {
  position: absolute;
  content: "";
  width: 100%;
  max-width: unset !important;
  height: 35%;
  top: unset !important;
  bottom: 0 !important;
  left: 0;
  background-image: url(../image/bg01.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

section.stay .stay__box--ct hr {
  width: 50%;
  max-width: 7rem;
  margin: 1.8rem auto;
  background-color: #fff;
  border: none;
  display: block;
  height: 1.5px;
}

section.stay .stay__box--ct h4 {
  margin-bottom: 0px;
}

section.gallery {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.gallery .play__video {
  width: 50%;
  border: 0.5px solid #fff;
  border-right: 0px;
  overflow: hidden;
}

@media only screen and (max-width: 991px) {
  section.gallery .play__video {
    width: 100%;
    border: 0.5px solid #fff;
  }
}

section.gallery .play__video iframe {
  width: 100%;
  height: 60rem;
  min-height: 100%;
}

@media only screen and (max-width: 1200px) {
  section.gallery .play__video iframe {
    height: 40rem;
  }
}

@media only screen and (max-width: 480px) {
  section.gallery .play__video iframe {
    height: 22rem;
  }
}

section.gallery .wrap__img {
  width: 50%;
  position: relative;
}

@media only screen and (max-width: 991px) {
  section.gallery .wrap__img {
    width: 100%;
  }
}

section.gallery .wrap__img img {
  width: 50%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 0.5px solid #fff;
}

section.gallery .wrap__img img:nth-child(2), section.gallery .wrap__img img:nth-child(4) {
  border-left: 0px;
}

section.gallery .wrap__img img:nth-child(1), section.gallery .wrap__img img:nth-child(2) {
  border-bottom: 0px;
}

section.gallery .wrap__img span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 14rem;
  height: 13rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #bc202f;
  color: #fff;
}

@media only screen and (max-width: 1200px) {
  section.gallery .wrap__img span {
    width: 10rem;
    height: 8rem;
    font-size: 1.5rem;
  }
}

section.slider-bt {
  margin: 20px 0px;
  width: 100%;
}

section.slider-bt .item {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

section.slider-bt .item img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 1200px) {
  section.slider-bt .item img {
    display: none;
  }
}

section.slider-bt .item .info {
  width: 50%;
  padding: 6rem 2.5rem 8rem;
  background-color: #ece6da;
}

@media only screen and (max-width: 1200px) {
  section.slider-bt .item .info {
    width: 100%;
  }
}

section.slider-bt .item .info h4 {
  font-size: 2.4rem;
  white-space: nowrap;
  color: #bc202f;
  font-weight: 400;
  margin-bottom: 2rem;
}

section.slider-bt .item .info ul {
  margin-bottom: 5rem;
}

section.slider-bt .item .info ul li {
  margin-bottom: 10px;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section.slider-bt .item .info ul li img {
  margin-top: 6px;
  margin-right: 8px;
  max-width: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}

section.slider-bt .item .info a.link-detail {
  background-color: #fff;
  color: #bc202f;
  text-transform: uppercase;
  padding: 7px 6rem;
  font-size: 1.6rem;
}

section.slider-bt .item .info a.link-detail:hover {
  background-color: #bc202f;
  color: #fff;
  opacity: 1;
}

section.slider-bt .slick-prev,
section.slider-bt .slick-next {
  bottom: 0;
  top: unset;
  left: 50%;
  right: unset;
  width: 6.8rem;
  height: 6.8rem;
  background: #fff;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1600px) {
  section.slider-bt .slick-prev,
  section.slider-bt .slick-next {
    width: 4rem;
    height: 4rem;
  }
}

section.slider-bt .slick-prev::before,
section.slider-bt .slick-next::before {
  content: none;
}

section.slider-bt .slick-prev svg,
section.slider-bt .slick-next svg {
  width: 30px;
  stroke: #bc202f;
}

@media only screen and (max-width: 1200px) {
  section.slider-bt .slick-prev svg,
  section.slider-bt .slick-next svg {
    width: 20px;
  }
}

section.slider-bt .slick-prev {
  -webkit-transform: translateX(-102%);
          transform: translateX(-102%);
}

section.slider-bt .slick-next {
  -webkit-transform: translateX(2%);
          transform: translateX(2%);
}
/*# sourceMappingURL=index.css.map */