section.hero {
  width: 100%;
  height: 100vh;
  min-height: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../image/bg-hero-stay.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section.hero::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 768px) {
  section.hero {
    min-height: unset;
  }
}

section.hero .hero__inner {
  text-align: center;
  padding: 1.5rem;
  color: #fff;
}

section.hero .hero__inner h1 {
  font-size: 4.6rem;
  font-weight: bold;
  margin-bottom: 1.6rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.399);
}

@media only screen and (max-width: 768px) {
  section.hero .hero__inner h1 {
    font-size: 3.2rem;
  }
}

section.hero .hero__inner p {
  font-size: 1.5rem;
  margin-bottom: 1.6rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.399);
}

section.hero .hero__inner hr {
  width: 15rem;
  height: 8px;
  border: 0;
  background-color: #bc202f;
  margin: 0 auto;
}

section.day-room {
  width: 100%;
  margin-bottom: 1rem;
}

section.day-room .room-info {
  padding: 3rem;
}

@media only screen and (max-width: 768px) {
  section.day-room .room-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 3rem 0px;
  }
}

section.day-room .room-info .item {
  text-align: center;
  padding: 0px 7rem;
  border-right: 1px solid #e3e0dc;
  margin: 3rem 0px;
}

@media only screen and (max-width: 768px) {
  section.day-room .room-info .item {
    width: 50%;
    padding: 0px;
  }
}

section.day-room .room-info .item:last-child {
  border-right: 0px;
}

@media only screen and (max-width: 768px) {
  section.day-room .room-info .item:nth-child(2) {
    border-right: 0px;
  }
}

section.day-room .room-info .item h6 {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 4px;
}

section.day-room .room-info .item p {
  font-size: 1.8rem;
  color: #bc202f;
}

section.day-room .room-desc {
  margin: 6rem auto 0px;
  max-width: 60rem;
}

@media only screen and (max-width: 768px) {
  section.day-room .room-desc {
    margin-top: 1rem;
    max-width: unset;
  }
}

section.day-room .room-desc a.room__link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 8rem auto 0px;
  padding: 13px 6rem;
  background-color: #bc202f;
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 1px solid #bc202f;
}

section.day-room .room-desc a.room__link:hover {
  background-color: #fff;
  color: #bc202f;
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  section.day-room .room-desc a.room__link {
    margin-top: 4rem;
  }
}

@media only screen and (max-width: 480px) {
  section.day-room .room-desc a.room__link {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
}

section.section-bg {
  position: relative;
  padding-bottom: 20rem;
}

@media only screen and (max-width: 768px) {
  section.section-bg {
    padding-bottom: 6rem;
  }
}

section.section-bg::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f7f5f0;
  z-index: 2;
}

section.section-bg::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 38%;
  bottom: 0;
  left: 0;
  background-image: url(../image/bg-song.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 3;
}

section.section-bg .container {
  position: relative;
  z-index: 4;
}

section.service {
  margin-top: 10px;
  padding-top: 6rem;
  padding-bottom: 12rem;
}

@media only screen and (max-width: 768px) {
  section.service {
    padding-top: 4rem;
    padding-bottom: 6rem;
  }
}

section.service .service__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 82rem;
  margin: 4rem auto 0px;
}

section.service .service__list li {
  width: calc(100%/4);
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  section.service .service__list li {
    width: calc(100%/2);
    padding: 2rem 4px;
  }
}

section.service .service__list li img {
  width: auto;
  margin: 0 auto;
}

section.service .service__list li span {
  display: block;
  font-size: 1.5rem;
  padding: 0px 0px 0px;
  text-align: center;
}

section.book-now {
  padding: 8rem 0px;
  background-color: #bc202f;
}

@media only screen and (max-width: 768px) {
  section.book-now {
    padding: 5rem 0px;
  }
}

section.book-now h2 {
  color: #fff;
  font-size: 3.6rem;
  margin-bottom: 3rem;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  section.book-now h2 {
    font-size: 2.6rem;
  }
}

section.book-now .wrap__book {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.book-now .wrap__book .book__item {
  margin: 3rem 0px;
  padding: 0rem 4.5rem;
  color: #fff;
  border-right: 1px solid #db9c9f;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  section.book-now .wrap__book .book__item {
    width: calc(100%/2);
    padding: 0rem 1rem;
  }
}

section.book-now .wrap__book .book__item h6 {
  font-size: 14px;
  text-transform: uppercase;
  color: #db9c9f;
  margin-bottom: 1rem;
}

section.book-now .wrap__book .book__item p {
  font-size: 2.8rem;
}

@media only screen and (max-width: 768px) {
  section.book-now .wrap__book .book__item p {
    font-size: 1.8rem;
  }
}

section.book-now .wrap__book .book__item span {
  font-size: 2.8rem;
  color: #db9c9f;
}

section.book-now .wrap__book .book__item > div p {
  margin: 0px 10px;
}

section.book-now .wrap__book .book__item:last-child {
  border-right: 0px;
}

section.book-now .wrap__book .book__item:nth-child(2) {
  border-right: 0px;
}

section.book-now .book-link a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0rem auto 0px;
  padding: 13px 6rem;
  background-color: #fff;
  color: #bc202f;
  font-size: 1.5rem;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 1px solid #fff;
}

@media only screen and (max-width: 480px) {
  section.book-now .book-link a {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
}

section.package {
  position: relative;
  padding: 8rem 0px 7rem;
  background-image: url(../image/bg-stay.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
  section.package {
    padding: 5rem 0px 4rem;
  }
}

section.package::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

section.package .stay__box {
  padding: 6rem 5rem 17rem;
}

section.package .stay__box h4 {
  color: #bc202f;
  margin-bottom: 3.6rem;
}

section.package .container .row > [class*="col-"] {
  padding-right: 18px;
  padding-left: 18px;
}

@media only screen and (max-width: 1200px) {
  section.package .container .row > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}

section.room-slider .item.slick-slide {
  padding: 0px 5px;
}

section.room-slider .item {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

section.room-slider .slick-prev,
section.room-slider .slick-next {
  bottom: unset;
  top: 50%;
  left: 50%;
  right: unset;
  width: 6.6rem;
  height: 6.6rem;
  background: #bc202f;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

section.room-slider .slick-prev:hover,
section.room-slider .slick-next:hover {
  background-color: #fff;
}

section.room-slider .slick-prev:hover svg,
section.room-slider .slick-next:hover svg {
  stroke: #bc202f;
}

@media only screen and (max-width: 1600px) {
  section.room-slider .slick-prev,
  section.room-slider .slick-next {
    width: 4rem;
    height: 4rem;
  }
}

@media only screen and (max-width: 600px) {
  section.room-slider .slick-prev,
  section.room-slider .slick-next {
    width: 3rem;
    height: 3rem;
  }
}

section.room-slider .slick-prev::before,
section.room-slider .slick-next::before {
  content: none;
}

section.room-slider .slick-prev svg,
section.room-slider .slick-next svg {
  width: 30px;
  stroke: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media only screen and (max-width: 1200px) {
  section.room-slider .slick-prev svg,
  section.room-slider .slick-next svg {
    width: 20px;
  }
}

section.room-slider .slick-prev {
  left: 25%;
}

section.room-slider .slick-next {
  left: 75%;
}
/*# sourceMappingURL=stay.css.map */